alembic==1.4.3
amqp==5.0.5
appnope==0.1.0
attrs==20.2.0
backcall==0.2.0
billiard==3.6.3.0
blinker==1.4
celery==5.0.5
certifi==2020.12.5
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
configobj==5.0.6
decorator==4.4.2
Django==2.2
django-opentracing==1.1.0
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
Flask-Testing==0.8.0
gunicorn==20.1.0
importlib-metadata==2.0.0
importlib-resources==5.1.2
iniconfig==1.1.1
ipython==7.18.1
ipython-genutils==0.2.0
itsdangerous==1.1.0
jaeger-client==4.4.0
jedi==0.17.2
Jinja2==2.11.2
kombu==5.0.2
Mako==1.1.3
MarkupSafe==1.1.1
marshmallow==3.11.1
mycli==1.24.1
opentracing==2.4.0
packaging==20.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.7
ptyprocess==0.6.0
py==1.9.0
pyaes==1.6.1
pycryptodome==3.10.1
pycryptodomex==3.10.1
Pygments==2.7.1
PyMySQL==0.10.1
PyJWT==2.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.1.2
pytest-html==2.1.1
pytest-metadata==1.10.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
pytz==2020.1
redis==3.5.3
requests==2.24.0
sentry-sdk==0.20.3
SQLAlchemy==1.3.20
sqlparse==0.3.1
tabulate==0.8.9
terminaltables==3.1.0
threadloop==1.0.2
thrift==0.13.0
toml==0.10.1
tornado==6.1
traitlets==5.0.4
urllib3==1.25.11
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.0
